[submodule "client"]
	path = client
	url = https://github.com/andrejanesic/NFT-Collection.Client.git
[submodule "contract"]
	path = contract
	url = https://github.com/andrejanesic/NFT-Collection.Contract.git
